*{
    margin: 0;
}

.header{
    width: 100%;
    height: 100px;
    background-color:brown;
}

.header h1{
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 30px;
    text-align: left;
    font-size: 50px;
    color:black;
    font-family: fantasy;
    
}


.header label{
    float: right;
    margin-top: -22px;
    padding: 2px;
}

.navbar a {
    float: left;
    color: darkorange;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin: auto;
}

/* .navbar{
    background-color: #333;
    
}

nav div .sub1 {
    display:none;
    position:absolute;
    left:150px;
    top:50px;
    background-color:#d35400;
}
.sub1 a:hover { 
    color:#fff; 
} */

.navbar a:hover {
    background-color: #ddd;
    color: black;
}



.aside{
    float: right;
    margin-top: -150px;
    margin-right: 20px;
    padding: 7px 8px;
}

.aside a{
    color: darkorange;
    text-align: center;

}

.aside a:hover{
    background-color: #333;
    color: white;
}

.artikel{
    text-align: center;
    background-color: burlywood;
}

.isiartikel{
    background-color: burlywood;
    
}
.isiartikel p{
    width: 1500px;
    padding-left: 100px;
}

.image1{
    width:600px; 
    height:400px;
    
    padding-left: 30px;
}
.page{
    background-color: darkorange;
    text-align: center;
    
}

.page a {
    color: darkorange;
    background-color: #333;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 17px;
    border: solid;

}

.terpopuler a{
    padding: 20px 70px;
}

.terpopuler span{
    padding: 20px 50px;
}

.nambahartikel{
    background-color: sandybrown;
    border: solid;
    margin-right: 700px;
    margin-left: 700px;
}

.nambahartikel:hover{
    background-color: brown;
}
